<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Joel">

    <title>Overseas Living (MM2H)</title>

    <!-- CSS FILES -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <link href="{{ "css/bootstrap.min.css" | absURL }}" rel="stylesheet">

    <link href="{{ "css/bootstrap-icons.css" | absURL }}" rel="stylesheet">

    <link href="{{ "css/templatemo-topic-listing.css" | absURL }}" rel="stylesheet">
</head>