<div class="sticky-bar">
    <a href="https://msng.link/o/?jessieai9799=wc">
        <img src="/images/icons/wechat-seeklogo.com.svg" alt="WeChat">
    </a>
    <a href="line://">
        <img src="/images/icons/LINE_logo.svg" alt="Line">
    </a>
    <a href="tel:6046099079">
        <img src="/images/icons/telephone.svg" alt="Phone">
    </a>
    <a href="https://msng.link/o/?jessieai9799=wc">
        <img src="/images/icons/WhatsApp.svg" alt="WhatsApp">
    </a>
    <a href="/blog/inquiry/">
        <img src="/images/icons/envelope.svg" alt="Email">
    </a>
</div>

<style>
.sticky-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    padding: 10px 0;
}
.sticky-bar a {
    display: inline-block;
    text-align: center;
}
.sticky-bar img {
    width: 24px;
    height: 24px;
}
</style>