<table class="table table-bordered company-details">
    <tbody>
        <tr>
            <th scope="row">Company Name</th>
            <td>Overseas Living (MM2H) Sdn Bhd</td>
        </tr>
        <tr>
            <th scope="row">MM2H License No.</th>
            <td>MM2H/0156</td>
        </tr>
        <tr>
            <th scope="row">Chief Executive Officer</th>
            <td colspan="2">Jessie Ong</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td colspan="2">Penthouse, 10th Floor,
                <br>Wisma Penang Garden,
                <br>42, Jalan Sultan Ahmad Shah,
                <br>10050 Penang,
                <br>Malaysia
            </td>
        </tr>
        <tr>
            <th scope="row">Telephone</th>
            <td colspan="2">
                +(6)0 12-490 8226 (Malaysia)
                <br>
                Line ID : jessieai9799
                <br>
                Wechat : jessieai9799
            </td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td colspan="2">
                overseaslivingpn@gmail.com
            </td>
        </tr>
        <tr>
            <th scope="row">Business hours</th>
            <td colspan="2">
                09:00 - 17:00 (Monday - Friday)
            </td>
        </tr>
        <tr>
            <th scope="row">Holidays</th>
            <td colspan="2">
                Saturday, Sunday and Public Holidays in Malaysia
        </tr>
        <tr>
            <th scope="row">Business Content</th>
            <td colspan="2">
                <ul>
                    <li>
                        Application of MM2H Visa, student pass, guardian pass, RP-T in Malaysia
                    </li>
                    <li>
                        Study in Malaysia (international schools, university, languages, courses)
                    </li>
                    <li>
                        Pet import/export
                    </li>
                    <li>
                        Real Estate / Short and long stay support
                    </li>
                    <li>
                        Insurance & Banking related services
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<style>
    .company-details {
        border-width: 1px !important;
    }
    
    .company-details th, td {
        text-align: left !important;
        font-weight: var(--font-weight-normal) !important;
        color:  var(--p-color) !important;
        font-size : var(--p-font-size) !important;
    }

    .company-details th {
        font-weight: bold !important;
    }
</style>