<link href="{{ "css/property.css" | absURL }}" rel="stylesheet">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{{ $data := getJSON "data/blog/property/condo.json" }}
{{ $sections := .RawContent }}
{{ if in .RawContent "<!-- split -->" }}
{{ $sections = split .RawContent "<!-- split -->" }}
{{ end }}

{{ with index $sections 0 }}
{{ . | markdownify }}
{{ end }}

<section class="ppty" style="text-align: justify;">
    {{ $counter := 1 }}
    {{ range $key, $value := $data }}
    
    <div class="card-condo condo-details">
        <div class="content-condo">
            <h6 class="logo-condo">{{ $value.name }}
                <br>
                <span class="material-symbols-outlined">
                    location_on
                </span>
                {{ $value.location }}
            </h6>

            <div class="slick-slider h6-condo">
                {{ range $value.image }}
                <div>
                    <img src="{{ . | absURL }}">
                </div>
                {{ end }}
            </div>
            <div class="h6-condo">

                <p>
                    {{ $value.remarks }}
                </p>
            </div>

            <div class="hover_content-condo">
                <div class="condo-details">
                    <!-- markdown content here -->
                    {{ with index $sections $counter }}
                    {{ . | markdownify }}
                    {{ end }}
                </div>
            </div>

        </div>
        <button class="expand-button">Expand</button>
    </div>

    {{ $counter = add $counter 1 }}
    {{ end }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.slick-slider').slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                prevArrow: '<span class="material-symbols-outlined" id="leftbut">arrow_back_ios</span>',
                nextArrow: '<span class="material-symbols-outlined" id="rightbut">arrow_forward_ios</span>'
            });
        });

    </script>
</section>