<section class="section_1 section-padding" id="section_1">
    <div class="col-1">
        <h1>Overseas Living</h1>
        <h4>(MM2H) Sdn. Bhd.</h4>
        <p> Your 1-stop Longstay and Education Centre in Penang, Malaysia. <br> Visa application made simple!
        </p>
    </div>
    <div class="col-1">
    </div>
</section>

<style> 
    #section_1 {
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255,255,255,0)), url("images/cropped-PG-by-wan-san-yip-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 99%;
    }

    .section_1 p{
        color: black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
</style>