<section class="faq-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Frequently Asked Questions</h2>
            </div>

            <div class="clearfix"></div>

            <div class="col-lg-5 col-12">
                <img src="images/faq_graphic.jpg" class="img-fluid" alt="FAQs">
            </div>

            <div class="col-lg-6 col-12 m-auto">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Will I be able to communicate with the locals in English?
                            </button>
                        </h2>

                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Yes, as Malaysia is a multiracial country, majority of Malaysians are proficient
                                in English.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Can you help us with the student's application process?
                            </button>
                        </h2>

                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Yes, we work closely with majority of the international schools and
                                universities, and we provide comprehensive support and assist international
                                students with their application process.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Will I be able to withdraw my fixed deposit which is tagged lien under MM2H?
                            </button>
                        </h2>

                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                MM2H Homers may apply to withdraw part of MM2H Fixed Deposit for the purchase of
                                property, medical treatment, or children's education. Maximum withdrawal is up to 50% of
                                the MM2H Fixed Deposit. The whole process takes 5-7 working days.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Will I be able to drive a car in Malaysia?
                            </button>
                        </h2>

                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                For tourists who wish to drive in Malaysia, you need to have an International
                                Driving License issued from your own country. Malaysia is right-handed driving,
                                and please remember to fasten seat belt & mobile phone is not allowed while
                                driving.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Is there anything I should be aware of when interacting with Muslims to be
                                respectful?
                            </button>
                        </h2>

                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                The followings are the things you should take note of when interacting with
                                Muslims.
                                <li>Do not pat a child's head.</li>
                                <li>Muslims are strictly prohibited from consuming or touching pork and alcohol.
                                </li>
                                <li>Do not point a finger at people or things with your index finger, instead
                                    use your thumb.</li>
                                <li>Make sure to use your right hand when you shake hands or accept a gift from
                                    Muslims.</li>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Is there any special benefits for children of MM2H visa holders to study in
                                Malaysia? (Such as longer visa, tuition fee, etc.)
                            </button>
                        </h2>

                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Yes, some international schools or universities offer special rebate to students
                                with MM2H visas.
                            </div>
                        </div>
                    </div>


                    <div class="col-12 text-center mt-5">
                        <p class="text-black">
                            Want to learn more?
                            <a href="blog/inquiry/" class="btn custom-btn custom-border-btn ms-3">Inquiry</a>
                        </p>
                    </div>
                    <!-- FAQ ends -->
                </div>
            </div>

        </div>
    </div>
</section>